
.image-container {
  width: 100%;
  height: 300px; /* Ajusta la altura según tus necesidades */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evita que la imagen se salga de la caja */
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Estilo personalizado para la barra de navegación */
.custom-navbar {
  background-color: #4CAF50; /* Cambia este color al que prefieras */
}

.custom-navbar .nav-link {
  color: white; /* Color de los enlaces */
}

.custom-navbar .nav-link.active {
  font-weight: bold;
}

.custom-navbar .nav-link:hover {
  color: #f1f1f1; /* Color al pasar el mouse */
}

.custom-navbar .nav-link.disabled {
  color: rgba(255, 255, 255, 0.5); /* Color de enlace deshabilitado */
}
